.defualt_padding{
    padding: 25vmin;
}
/* PC display */
@media(min-width:700px){
    .top_navbar{
        box-shadow: none !important;
    }
    .c_small{
        width: 30px;
        height: 30px;
        object-fit: cover;
        margin-top: 15px;
        margin-bottom: -7px;
    }
}


/* moblie display */
@media(max-width:600px){
    .top_navbar{
        box-shadow: none !important;
    }
    #Add user{
        display: flex !important;
        align-items: center !important;
    }
}
.div{
    display: flex;
    align-items: center;
    margin: 20px;
    padding: 10px;
}
.p-10{
    padding: 10px;
}
.m-30{
    margin: 30px;
}
.pos-rel{
    position: relative;
}
.top-7{
    top:7px
}
.float-right{
    float: right;
}